.icon {
    cursor: pointer
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.title_input_container {
    max-width: 300px;
}

.submit_btn{
    align-self: end;
}