.formContainer {
}

.formGroup {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  text-align: center;
}

.button {
  margin-top: 50px;
  width: 100%;
}
