.root {
  display: flex;
  height: 100%;
}

.logoTop {
  fill: #0d6efd;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.header {
  display: flex;
}

.leftSection {
  flex: 4;
}

.rightSection {
  flex: 5;
  background-image: url("assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  height: 45px;
  width: 45px;
  vertical-align: baseline;
}

.backgroundTitle {
  color: white;
  margin: 0;
  text-align: center;
  padding-top: 4px;
}
